DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_TIME_ZONE=Asia/Jakarta

MQTT_ENDPOINT=
MQTT_PORT=8883
MQTT_USE_TLS=true
MQTT_ROOT_CA=
MQTT_CERT=
MQTT_PRIVATE_KEY=
MQTT_PUBLISH_TOPIC=floodwatch/sensor/data
MQTT_SUBSCRIBE_TOPIC=floodwatch/device/control
MQTT_CLIENT_ID_PREFIX=floodwatch-aws
